<h1>My Recipe Database</h1>

<% @recipes.each do |recipe| %>
  <a href="/recipes/<%=recipe.id%>"><strong><%= recipe.name %></strong></a>
<p><%= recipe.cook_time %></p>
<p><%= recipe.ingredients %></p>
<% end %>
