<h1>Create a New Recipe</h1>

<form method="POST" action="/recipes">
  <label for="name"></label>Recipe Name: <input type="text" name="name"> <br> <br>
  <label for="ingredients"></label>Ingredients: <input type="text" name="ingredients"> <br> <br>
  <label for="cook_time"></label>Cook Time: <input type="text" name="cook_time"> <br> <br>
  <input type="submit" value="Save">
</form>
